$bgh: #1d2021;
$bg: #282828;
$bg1: #3c202f;
$bg2: #45403d;

$fgh: #fbf1c7;
$fg: #ebdbb2;
$fg1: #d4be98;
$fg2: #ddc7a1;

$red: #ea6962;
$green: #a9b665;
$yellow: #d8a657;
$orange: #e78a4e;
$blue: #7daea3;
$purple: #d3869b;
$aqua: #7daea3;
$gray: #7c6f64;
