$bgh: #1b1b1b;
$bg: #282828;
$bg1: #323O2f;
$bg2: #323O2f;

$fgh: #d4be98;
$fg: #d4be98;
$fg1: #ddc7a1;
$fg2: #ddc7a1;

$red: #ea6962;
$green: #a9b667;
$yellow: #d8a657;
$orange: #e78a4e;
$blue: #7daea3;
$purple: #d3869b;
$aqua: #89b482;
$gray: #7c6f64;
