* {
  font-family: FiraCode;
  color: #FBF1C7;
  background: transparent;
}

#window {
  background: rgba(40, 40, 40, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #D65D0E;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #458588;
}

#text {
  margin: 2px;
}
