* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
}

#waybar {
    background-color: rgba(50, 48, 47, 0.8);
}

#workspaces button {
    color: #e2cca9;
    background-color: #32302f;
    font-size: 13px;
}

#workspaces button:hover,
#workspaces button.focused:hover,
#workspaces button.visible:hover {
    color: #32302f;
    background-color: #e9b143;
}

#workspaces button.focused {
    background-color: #3c3836;
    box-shadow: inset 0 -3px #f28534;
}

#workspaces button.urgent {
    color: #32302f;
    background-color: #f2594b;
}

#workspaces button.visible {
    background-color: #D79921;
    color: #1D2021;
}

/*
 * General background
 */
#network,
#memory,
#backlight,
#language, 
#cpu,
#pulseaudio,
#temperature,
#battery,
#network,
#tray {
    color: #FBF1C7;
    font-size: 15px;
    background-color: #3c3836;
    padding: 0 10 0 10;
}

/*
 * Warning plugins state
 */
#memory.warning,
#cpu.warning,
#battery.warning {
    color: #e9b143;
}

/*
 * Critical plugins state
 */
#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical,
#network.disconnected {
    color: #f2594b;
}

#mode {
    color: #32302f;
    font-size: 15px;
}

#clock {
    color: #e2cca9;
    font-size: 15px;
}

#battery.charging {
    color: #b0b846;
}

#battery.plugged {
    color: #80aa9e;
}

#pulseaudio.bluetooth {
    color: #7C6F64;
}

#tooltip {
    color: #e2cca9;
    font-size: 13px;
    background-color: #32302f;
}
